/*Thiết kế web : 
Pc(>=1024)
-> tablet (ipad)-(740<=x<=1023) 
-> mobile(<=730)
*/
/*PC*/
@media (min-width:64em)
{}
/*tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em)
{}
/*tablet+ mobile*/
@media (max-width: 63.9375em)
{

.btn{
    padding : 20px 16px;
}
.contact-form .form-control
{
padding : 16px;
}
#footer .social-list a
{
    text-decoration: none;
    margin: 0 8px;
    padding : 12px 0;
    width: 10%;
    display: inline-block;
}
}
@media (min-width: 46.25em){
    #header .searchMobile{
        display: none;
    }
}
/*mobile*/
@media (max-width: 46.1875em){
    #nav{
        display: block;
    }

    #nav .subnav{
        position: initial;
        background: #333;
        
    }
    #nav .subnav a{
        color: #fff;
        padding : 0 41px;
    }
    #nav >li{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav li a {
        padding: 1px 24px;
    }
  
    #header{
        overflow: hidden;
    }
    #header .searchButton{

        display: none;
    }
    .member-image{
        margin-top: 20%;
        width: 60%;
    }
   #content .member-image{
    width: 60%;
    }
    .mobile-col-width,
    .mobile-col-full{
        width: 100% !important;
    }
    .contact-form{
        margin-top: 8px;
    }
    .mobile-mt-16{
        margin-top: 16px !important;
    }

    
}